.header .container {
  position: relative;
}
.header__logo {
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.header__medias {
  position: absolute;
  right: 0;
  top: 30%;
}
.header__medias__item {
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.header__menu {
  width: 100%;
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid rgba(127, 190, 132, 0.3);
  border-bottom: 1px solid rgba(127, 190, 132, 0.3);
}
.header__menu a {
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1em;
  font-size: 1.35em;
  color: rgba(127, 190, 132, 1);
  font-family: "Cormorant Garamond";
  font-weight: 900;
}
.header__menu a:last-child {
  float: right;
  margin-right: 0;
}
.header__menu a:last-child i {
  font-size: 1.5em;
}
