.header .container {
  position: relative;
}
.header__logo {
  display: block;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}
.header__medias {
  position: absolute;
  right: 0;
  top: 50%;
}

.header__medias__item {
  text-decoration: none;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
